.header{
	border: 2px solid black;
	/*min-height: 100px;*/
	overflow: hidden;
	margin-bottom: 5px;
}

.menu{
	border: 1px solid red;
	min-height: 80px;
	float: right;
	width: 60%;
	margin: 5px;
}

.menu_logo{
	border: 1px solid black;
	/*min-height: 50px;*/
	width: 40%;
	margin: 0 auto;
	margin-bottom: 5px;
	overflow: hidden;
}


.cla_log{
	border: 1px solid red;
	min-height: 50px;
	width: 45%;
	float: left;
	margin:  2px;
}

.emp_log{
	border: 1px solid black;
	min-height: 50px;
	width: 45%;
	float: right;
	margin: 2px;
}

.options{
	border: 1px solid red;
	/*min-height: 50px;*/
	width: 60%;
	margin: 0 auto;
	margin-bottom: 5px;
	overflow: hidden;
}

.option{
	border: 1px solid black;
	min-height: 50px;
	width: 18%;
	float: left;
	margin: 2px 4px;
}

.logo{
	border: 1px solid red;
	min-height: 100px;
	width: 30%;
	margin: 12px; 
}

.banner{
	border: 2px solid black;
	min-height: 300px;
	margin-bottom: 5px;

}

.banner_con{
	border: 1px solid red;
	min-height: 250px;
	width: 40%;
	margin: 20px 40px;

}

.part1{
	border: 1px solid black;
	min-height: 120px;
	width: 70%;
	margin: 5px auto;
}

.part2{
	border: 1px solid black;
	min-height: 50px;
	width: 40%;
	margin: 5px auto;
	margin-top: 10px;
}

.service_section{
	border: 2px solid black;
	/*min-height: 250px;*/
	overflow: hidden;
	margin-bottom: 5px;
	
}

.services{
	border: 1px solid red;
	/*min-height: 300px;*/
	width: 30%;
	margin: 5px 20px;
	overflow: hidden; 
	float: left;
}

.logo_text{
	border: 1px solid black;
	/*min-height: 100px;*/
	width: 85%;
	margin: 5px;
	overflow: hidden;
}


.serv_logo{
	border: 1px solid red;
	min-height: 100px;
	width: 35%;
	margin: 5px;
	float: left;
}

.serv_text{
	border: 1px solid black;
	min-height: 100px;
	width: 60%;
	float: left;
	margin: 5px 0;

}

.serv_text2{
	border: 1px solid red;
	min-height: 150px;
	width: 80%;
	margin: 5px 20px;
}

.contract{
	border: 2px solid black;
	/*min-height: 300px;*/
	overflow: hidden;
	margin-bottom: 5px;
}

.con_text{
	border: 1px solid red;
	/*min-height: 150px;*/
	width: 30%;
	margin: 5px;
	overflow: hidden;
	float: left;
	margin-left: 20px;
}

.h_text{
	border: 1px solid black;
	min-height: 70px;
	width: 90%;
	margin: 5px;
	margin-left: 18px;
}

.low_text{
	border: 1px solid black;
	min-height: 120px;
	width: 90%;
	margin: 5px;
	margin-left: 18px;
}

.mo_te_app{
	border: 1px solid red;
	min-height: 250px;
	width: 30%;
	float: right;
	/*overflow: hidden;*/
	margin: 5px 5px;
	margin-right: 32px;
}


.text_app{
	border: 1px solid red;
	/*min-height: 250px;*/
	float: right;
	overflow: hidden;
	width: 47%;
	margin: 40px 40px;
}

.mo_text{
	border: 1px solid black;
	min-height: 50px;
	width: 90%;
	margin: 5px;
	float: right;
}

.mo_app{
	border: 1px solid red;
	min-height: 50px;
	width: 90%;
	float: right;
	margin: 5px;
}

.mobile{
	border: 1px solid black;
	min-height: 200px;
	width: 30%;
	margin: 15px 5px;
	float: left;
}

.footer{
	border: 2px solid black;
	/*min-height: 200px;*/
	/*width: 50%;*/
	overflow: hidden;


}

.com_logo{
	border: 1px solid red;
	/*min-height: 50px;*/
	width: 35%; 
	overflow: hidden;
	margin: 25px 5px;
	float: right;
}

.com_logo1{
	border: 1px solid black;
	min-height: 50px;
	width: 45%;
	float: left;
	margin: 2px 10px;
}

.footer_box{
	border: 1px solid red;
	/*min-height: 100px;*/
	width: 50%;
	overflow: hidden;
	margin-bottom: 5px;
}

.box{
	border: 1px solid black;
	min-height: 50px;
	width: 14%;
	float: left;
	margin: 5px 8px;
}

.copyright{
	border: 1px solid black;
	min-height: 40px;
	width: 40%;
	margin-left: 60px;
}

